<!DOCTYPE html> 
<html>
  <head>
    <title>ONPE - Oficina Nacional de Procesos Electorales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  /> 
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="pull-left logo-onpe">
          <div class="pull-left">
            <a href="/"><img src="{{url_for('static',filename='images/onpe-trans.png')}}"></a>
          </div>
          
          <div class="pull-left">
            <h1>PRESENTACIÓN DE RESULTADOS</h1>
          </div>
        </div>
  
        <div class="pull-right logo">
          <img src="{{url_for('static',filename='images/eegg2016-trans.png')}}" width="218" height="35">
        </div>
      </div>
    </header>
    
    <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->

    <div class="container">
      <img src="{{url_for('static',filename='images/f-actas.jpg')}}" width="1170" height="248" class="img-responsive mg30top">
  
      <section class="menu navbar-default menu05">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <a name="posicion"></a>
        <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li class="bt-azul">
              <a href="/presidenciales">PRESIDENCIAL</a>
            </li>
            <li class="bt-amarillo act-amarillo">
              <a href="/actas_ubigeo/Peru">ACTAS</a>
            </li>
            <li class="bt-rojo">
              <a href="/participacion">PARTICIPACIÓN CIUDADANA</a>
            </li>
          </ul>
        </nav>
      </section>
      <br/><br/><br/><br/>
  
      <section class="contenedor">
        <div class="row">
          
          <div class="col-xs-12 col-md-3">
            <div class="menu-interna">
              <ul>
                <li><a href="/actas_ubigeo" class="act-izq">Actas por ubigeo</a></li>
                <li><a href="/actas_numero">Actas por número</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-xs-12 col-md-9" id="impreso">
            <div class="contenido-interna">



              <div class="titulos col-xs-12">
                <div class="col-xs-11">
                    <h3> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true" style="font-size:19px"></span> SEGUNDA ELECCIÓN PRESIDENCIAL 2016: ACTAS POR UBIGEO</h3>
                </div>

                <div class="col-xs-1 oculto-boton-print">
                    <button onclick="printContent('impreso');"><i class="fa fa-print ico-print"></i></button>
                </div>
              </div>

              <div class="col-lg-7 centered">
                <div class="col-xs-12 col-md-12 col-lg-12 cont-curv">
                  <div class="col-xs-3 col-md-1">
                    <span class="glyphicon glyphicon-ok-circle ico-info" aria-hidden="true"></span>
                  </div>
            
                  <div class="col-xs-9 col-md-11">
                    <ul>
                      <li>ACTUALIZADO EL 20/06/2016 A LAS 19:16 h </li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="col-xs-12 td34up">
                <form id="frmBuscar" name="frmBuscar" action="/actas_ubigeo" method="post" class="horizontal-form">
                
                  <div class="row">
                    
                    <div class="col-md-3">
                      <label class="control-label">Ámbito:</label>
                      <div id="ambito" class="form-group">
                        <select name="cdgoAmbito" id="cdgoAmbito" class="form-control" onchange="getDepartamentos(this.value)">
                          <option value="Peru" selected>PERÚ</option>
                          <option value="Extranjero">EXTRANJERO</option>
                        </select>
                      </div>
                    </div>
                    
                    <div id="dvNombreDepartamento" class="col-md-3" style="">
                      <div class="form-group">
                        <label id="lblDepartamento" class="control-label">Departamento:</label>
                        <div id="departamentos">
                          <select name="cdgoDep" id="cdgoDep" class="form-control" onchange="getProvincias(this.value)">
                            <option selected="selected" value="">--SELECCIONE--</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
                    <div id="dvNombreProvincia" class="col-md-3" style="">
                      <div class="form-group">
                        <label id="lblProvincia" class="control-label">Provincia:</label>
                        <div id="provincias">
                          <select name="cdgoProv" id="cdgoProv" class="form-control" onchange="buscarProvincia_actas(this.value, '', 'PR');">
                            <option selected="selected" value="">--SELECCIONE--</option>
                          </select>
                          <span id="aComentarioProvincia"></span>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row">
                    
                    <div class="col-md-4">
                      <label id="lblDistrito" class="control-label">Distrito:</label>
                      <div id="distritos" class="form-group">
                        <select name="cdgoDist" id="cdgoDist" class="form-control" onchange="
                          getPageWeb('', 'actas', 'getLocalesVotacion', 'divLocal', '&amp;tipoElec=&amp;ubigeo=' + this.value);
                          getPageWeb('', 'actas', 'limpiarDiv', 'divDetalle', '');">
                          <option selected="selected" value="">--SELECCIONE--</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="control-label">Locales:</label>
                        <div id="divLocal">    
                          <select name="actas_ubigeo" id="actas_ubigeo" class="form-control" onchange="actas_porUbigeo_verActsPr(this.value, '10', '')">
                            <option value="-1?-1" selected="selected">--SELECCIONE--</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    
                    <div id="divDetalle" class="ptop20">

                    </div>

                    <div id="divDetalle" class="ptop20">
                  
                    </div>

                  </div>
       
                </form>
              </div>
       
            </div>


          </div>
                    
        </div>
      </section>
    </div>

    <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
    
    <br/><br/>

    <footer class="footer-inside">
      <div class="container">
        <div class="row">
          <div class="col-md-12 direc01">
            <span>CONTÁCTENOS</span>
            <p>Jr. Washington 1894, Cercado de Lima </p>
            <p>Correo electrónico: <a href="#">informes@onpe.gob.pe</a></p>
            <p>Central Telefónica: 417 - 0630 / Lunes a Viernes 08:30 - 16:30 hrs</p>
          </div>
        </div>
      </div>
    </footer>
  
    <script>
    
    const rmvrAsc = (str) =>{
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    }
    
    //DEPARTAMENTOS -------------------------------------------------------------------------------------------
    const getDepartamentos = async (ubigeo) => {

      document.getElementById('cdgoProv').selectedIndex = 0
      document.getElementById('cdgoProv').disabled = true
      document.getElementById('cdgoDist').selectedIndex = 0
      document.getElementById('cdgoDist').disabled = true
      document.getElementById('actas_ubigeo').selectedIndex = 0
      document.getElementById('actas_ubigeo').disabled = true

      const data = await fetch(`/actas_ubigeo/${ubigeo}`, { method: 'POST' })
      const departamentos = await data.json();
      console.log(departamentos)

      let html = `
          <select name="cdgoDep" id="cdgoDep" class="form-control" onchange="getProvincias(this.value, '${ubigeo}');">
              <option selected="selected" value="">--SELECCIONE--</option>
      `

      if(departamentos){

          departamentos.forEach(dptm => {
              html += `
                  <option value="${dptm.Detalle}">${dptm.Detalle}</option>
              `
          });
      }
      html += `
          </select>
      `
      document.getElementById('departamentos').innerHTML = html
      ambito = rmvrAsc(ubigeo)
    };

    //PROVINCIAS -------------------------------------------------------------------------------------------
    const getProvincias = async (dptm, ambito)=>{
      document.getElementById('cdgoDist').selectedIndex = 0
      document.getElementById('cdgoDist').disabled = true
      document.getElementById('actas_ubigeo').selectedIndex = 0
      document.getElementById('actas_ubigeo').disabled = true
      
      const data = await fetch(`/actas_ubigeo/${ambito}/${dptm}`, { method: 'POST' })
      const provincia = await data.json();

      let html = `
            <select name="cdgoProv" id="cdgoProv" class="form-control" onchange="getDistritos(this.value, '${ambito}', '${dptm}');">
                <option selected="selected" value="">--SELECCIONE--</option>
      `

      if(provincia){

          provincia.forEach(prov =>{
              html += `
                  <option value="${prov.Detalle}">${prov.Detalle}</option>
              `
          });
      }
        
      html += `
          </select>
      `
      document.getElementById('provincias').innerHTML = html
    };

    //DISTRITOS -------------------------------------------------------------------------------------------
    const getDistritos = async (prov, ambito, dptm)=>{
      document.getElementById('actas_ubigeo').selectedIndex = 0
      document.getElementById('actas_ubigeo').disabled = true
  
      const data = await fetch(`/actas_ubigeo/${ambito}/${dptm}/${prov}`, { method: 'POST' })
      const distrito = await data.json();

      let html = `
          <select name="cdgoDist" id="cdgoDist" class="form-control" onchange="getLocales(this.value, '${ambito}', '${dptm}', '${prov}');">
              <option selected="selected" value="">--SELECCIONE--</option>
      `

      if(distrito){

          distrito.forEach(dist =>{
              html += `
                  <option value="${dist.Detalle}">${dist.Detalle}</option>
              `
          }); 
      }
 
        html += `
            </select>
        `
        document.getElementById('distritos').innerHTML = html
    };

    //LOCALES -------------------------------------------------------------------------------------------
    const getLocales = async (dist, ambito, dptm, prov)=>{
      const data = await fetch(`/actas_ubigeo/${ambito}/${dptm}/${prov}/${dist}`, { method: 'POST' })
      const locales = await data.json();
      let html = `
          <select  select name="actas_ubigeo" id="actas_ubigeo" class="form-control" onchange="getListaMesa(this.value, '${ambito}', '${dptm}', '${prov}', '${dist}')">
              <option value="-1?-1" selected="selected">--SELECCIONE--</option>
      `

      if(locales){

          locales.forEach(local =>{
              html += `
                  <option value="${local.RazonSocial}">${local.RazonSocial}</option>
              `
          });
      }
      html += `
          </select>
      `
      document.getElementById('divLocal').innerHTML = html
    };

    //LISTA DE MESAS -------------------------------------------------------------------------------------------
    const getListaMesa = async (local, ambito, dptm, prov, dist)=>{
      const data = await fetch(`/actas_ubigeo/${ambito}/${dptm}/${prov}/${dist}/${rmvrAsc(local)}`, { method: 'POST' })
      const nroMesas = await data.json();
      let html = `
          <div class="col-xs-12 pbot30">
              <p class="subtitle">LISTADO DE MESAS</p>
              <div id="page-wrap">
                  <table class="table17" cellspacing="0">
                      <tbody>
                          <tr>
      `
      //ITERADOR PARA CONTAR LAS COLUMNAS
      i = 0

      if(nroMesas){

          nroMesas.forEach(nMesa =>{
              //VERIFICAR SI YA SON 10 COLUMNAS
              if(i%10 == 0){
                  //REALIZAR OTRA FILA
                  html += `
                              </tr>
                              <tr>
                  `
              }
              html += `
                                  <td bgcolor="#C1C1C1" onclick="detalleMesa('${nMesa.idGrupoVotacion}','${ambito}', '${dptm}', '${prov}', '${dist}', '${rmvrAsc(local)}')" style="cursor:pointer"><a href="#">${nMesa.idGrupoVotacion}</a></td>
              `
              i++;
          });
      }
      
      html += `
                          </tr>
                      </tbody>
                  </table>
              </div>
              </div>

                  <div class="col-xs-12 cont-recto oculto-leyenda-color-fondo-mesas">
                    <div class="col-md-4"><img src="{{url_for('static', filename='images/procesacon.jpg')}}"> Procesada con imagen</div>
                    <div class="col-md-4"><img src="{{url_for('static', filename='images/procesasin.jpg')}}"> Procesada sin imagen</div>
                    <div class="col-md-4"><img src="{{url_for('static', filename='images/sinprocesa.jpg')}}"> Sin procesar</div>
                  </div>
      
                  <div class="row pbot30">
                      <div class="col-lg-8 centered">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                          <table>
                            <tbody>
                              <tr>
                                <td colspan="10">
                                  <div class="conte-paginador">
                                    <span class="paginador-txt">Total de mesas: ${i}</span>
                                  </div>
                                </td>
                              </tr>  
                              <tr>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="10">Página: 
                                  <ul class="pagination">
                                    <li class="active"><a class="paginador-n1">1</a></li>
                                  </ul>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>

              </div>
      `
      document.getElementById('divDetalle').innerHTML = html
    };

    const detalleMesa = async (nMesa, ambito, dptm, prov, dist, local)=>{
      console.log(nMesa)
      console.log('Detalle de mesa')
      const data = await fetch(`/actas_ubigeo/${ambito}/${dptm}/${prov}/${dist}/${local}/${nMesa}`, { method: 'POST' })
      const detaMesa = await data.json();
      document.getElementById('divDetalle').innerHTML = 
        `
    <div class="contenido-resultados">
        <button class="btn btn-primary pull-right" onclick="getListaMesa('${local}', '${ambito}', '${dptm}', '${prov}', '${dist}')" type="button">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          REGRESAR
        </button>
        <p>&nbsp;</p>

        <div class="row">
          <div class="tab-info">
            <div class="tab-content">
              <div id="detMesa">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="presidencial">
                    <div class="tab-info-desc">
                      
                      <div class="row">

                        <div class="col-xs-3 col-md-4">
                          <div class="mesap01">
                            <img src="{{url_for('static',filename='images/mp-sin.jpg')}}" class="img-responsive">
                            Si requiere la imagen del acta, solicítela a través del procedimiento de acceso a la información pública.
                          </div>
                        </div>
                        <div class="col-xs-9 col-md-8">
                          <div class="row">
                            
                            <div class="col-xs-12">
                              <p class="subtitle1">ACTA ELECTORAL</p>
                              <div id="page-wrap">
                                <table class="table13" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Mesa N°</th>
                                      <th>N° Copia</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>${nMesa}</td>
                                      <td>${detaMesa.nCopia}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                
                            <div class="col-xs-12">
                              <p class="subtitle1">INFORMACIÓN UBIGEO</p>
                              <div id="page-wrap">
                                <table class="table14" cellspacing="0">
                                  <tbody>
                                    <tr class="titulo_tabla">
                                      <td>Departamento</td>
                                      <td>Provincia</td>
                                      <td>Distrito</td>
                                      <td>Local de votación</td>
                                      <td>Dirección</td>
                                    </tr>
                                    <tr>
                                      <td>${detaMesa.Departamento}</td>
                                      <td>${detaMesa.Provincia}</td>
                                      <td>${detaMesa.Distrito}</td>
                                      <td>${detaMesa.RazonSocial}</td>
                                      <td>${detaMesa.Direccion}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                
                            <div class="col-xs-12">
                              <p class="subtitle1">INFORMACIÓN MESA</p>
                              <div id="page-wrap">
                                <table class="table15" cellspacing="0">
                                  <tbody>
                                    <tr class="titulo_tabla">
                                      <td>Electores hábiles</td>
                                      <td>Total votantes</td>
                                      <td>Estado del acta</td>
                                    </tr>
                                    <tr>
                                      <td>${detaMesa.ElectoresHabiles}</td>
                                      <td>${detaMesa.TotalVotantes}</td>
                                      <td>ACTA ELECTORAL NORMAL</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                
                      <div>
                        <div class="col-xs-12 pbot30_acta">
                          <p class="subtitle1">LISTA DE RESOLUCIONES</p>
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No hay resoluciones para el acta seleccionada
                          <div id="page-wrap">
                            <div class="col-md-12 resolu"></div>
                          </div>
                          <!-- <p class="centro"># : El valor consignado en el acta presenta ilegibilidad.</p> -->
                        </div>
                      </div>
                
                      <div>
                        <div class="col-xs-12">
                          <p class="subtitle1">INFORMACIÓN DEL ACTA ELECTORAL</p>
                          <div id="page-wrap" class="cont-tabla1">
                            <table class="table06">
                              <tbody>
                                <tr class="titulo_tabla">
                                  <td colspan="2">Organización política</td>
                                  <td>Total de Votos</td>
                                </tr>
                                  <td>PERUANOS POR EL KAMBIO</td>
                                  <td><img width="40px" height="40px" src="{{url_for('static',filename='images/simbolo_keyko.jpg')}}"></td>
                                  <td>${detaMesa.P1}</td>
                                </tr>
                                <tr>
                                  <td>FUERZA POPULAR</td>
                                  <td><img width="40px" height="40px" src="{{url_for('static',filename='images/simbolo_pkk.jpg')}}"></td>
                                  <td>${detaMesa.P2}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">VOTOS EN BLANCO</td>
                                  <td>${detaMesa.VotosBlancos}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">VOTOS NULOS</td>
                                  <td>${detaMesa.VotosNulos}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">VOTOS IMPUGNADOS</td>
                                  <td>${detaMesa.VotosImpugnados}</td>
                                </tr>
                                <tr>
                                  <td colspan="2">TOTAL DE  VOTOS EMITIDOS</td>
                                  <td>${detaMesa.TotalVotantes}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                
                    </div>
                  </div>
                </div>				
              
              </div>
            </div>
          </div>
        </div>
            
    </div>
        `
      };

  getDepartamentos('Peru')
  </script>

  </body>
</html>